@model INSECAP.Models.Curso

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Cursos</h1>

<h3>¿Esta seguro que desea eliminar este registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            CODIGO DEL CURSO
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoCurso)
        </dd>
        <dt class="col-sm-2">
            NOMBRE DEL CURSO
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCurso)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodigoCurso" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Volver al Listado</a>
    </form>
</div>
