@model INSECAP.Models.Sala

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la Sala</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            CODIGO DE LA SALA
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CodigoSala)
        </dd>
        <dt class = "col-sm-3">
            CAPACIDAD MAXIMA
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CapacidadMaxima)
        </dd>
        <dt class = "col-sm-3">
            CARACTERISTICAS ESPECIALES
        </dt>
        <dd class = "col-sm-9">
            @if (Model.CaracteristicasEspeciales == 0)
            {
                @:No
            }
            else if (Model.CaracteristicasEspeciales == 1)
            {
                @:Sí
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodigoSala" class="btn btn-info">Editar</a> |
    <a asp-action="Index" class="btn btn-dark">Volver al Listado</a>
</div>
