@model INSECAP.Models.Nota

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Nota</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <script>
            // Función para mostrar una alerta de error
            @if (TempData.ContainsKey("MensajeError"))
            {
                var mensajeError = TempData["MensajeError"] as string;
                <text>
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '@mensajeError'
                    });
                </text>
            }

                // Función para mostrar una alerta de éxito
            @if (TempData.ContainsKey("MensajeExito"))
            {
                var mensajeExito = TempData["MensajeExito"] as string;
                <text>
                    Swal.fire({
                        icon: 'success',
                        title: 'Éxito!',
                        text: '@mensajeExito'
                    }).then(function () {
                        // Redirige al usuario a la página "index"
                        window.location.href = '@Url.Action("Index", "Notas")';
                    });
                </text>
            }
        </script>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNota" />
            <div class="form-group">
                <label asp-for="RunAlumno" class="control-label">RUT DEL ALUMNO</label>
                <select asp-for="RunAlumno" class="form-control form_alumno" asp-items="ViewBag.RunAlumno"></select>
                <span asp-validation-for="RunAlumno" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:6px;">
                <label asp-for="CodigoCurso" class="control-label">CODIGO DEL CURSO</label>
                <select asp-for="CodigoCurso" class="form-control form_alumno" asp-items="ViewBag.CodigoCurso"></select>
                <span asp-validation-for="CodigoCurso" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:6px;">
                <label asp-for="IdBimestre" class="control-label">BIMESTRE</label>
                <select asp-for="IdBimestre" class="form-control form_alumno" asp-items="ViewBag.IdBimestre"></select>
                <span asp-validation-for="IdBimestre" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:6px;">
                <label asp-for="Nota1" class="control-label">NOTA</label>
                <input asp-for="Nota1" class="form-control form_alumno" />
                <span asp-validation-for="Nota1" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:10px;">
                <input type="submit" value="Guardar" class="btn btn-primary" /> | <a asp-action="Index" class="btn btn-dark">Volver al Listado</a>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <img src="~/img/Tabla_Bimestres.png" alt="Tabla de bimestres" class="imagen_guardar_alumno"/>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
