@model INSECAP.Models.AsignacionCursosAlu

@{
    ViewData["Title"] = "Create";
}

<h1>Asignar cursos al Alumno</h1>

<div>
    <a class="btn btn-dark" asp-action="Index">Volver al Listado de Asignacion</a>
</div>

<hr/>

<div class="row">
    <div class="col-md-4">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>
            // Función para mostrar una alerta de error
            @if (TempData.ContainsKey("MensajeError"))
            {
                var mensajeError = TempData["MensajeError"] as string;
                <text>
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '@mensajeError'
                    });
                </text>
            }

                // Función para mostrar una alerta de éxito
            @if (TempData.ContainsKey("MensajeExito"))
            {
                var mensajeExito = TempData["MensajeExito"] as string;
                <text>
                    Swal.fire({
                        icon: 'success',
                        title: 'Éxito!',
                        text: '@mensajeExito'
                    }).then(function () {
                        // Redirige al usuario a la página "Create" solo después de que hayan hecho clic en "OK"
                        window.location.href = '@Url.Action("Index", "AsignacionCursosAlus")';
                    });
                </text>
            }
        </script>
        <form asp-action="Create" asp-controller="AsignacionCursosAlus" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger">            </div>    
            
            <div class="form-group" style="margin-top: 5px;">
                <label asp-for="CodigoCurso" class="control-label"> Codigo del Curso</label>
                <select asp-for="CodigoCurso" class="form-control form_alumno" asp-items="ViewBag.CodigoCurso" ></select>
            </div>
            <div class="form-group" style="margin-top: 5px;">
                <label asp-for="CodigoSala" class="control-label"> Codigo de la Sala</label>
                <select asp-for="CodigoSala" class="form-control form_alumno" asp-items="ViewBag.CodigoSala"></select>
            </div>
            <div class="form-group" style="margin-top: 5px;">
                <label asp-for="RunAlumno" class="control-label"> Rut del Alumno</label>
                <select asp-for="RunAlumno" class="form-control form_alumno" asp-items="ViewBag.RunAlumno"></select>
            </div>
            <div class="form-group" style="margin-top: 5px;">
                <label asp-for="IdBimestre" class="control-label"> ID del Bimestre</label>
                <select asp-for="IdBimestre" class="form-control form_alumno" asp-items="ViewBag.IdBimestre as SelectList"></select>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Guardar" class="btn btn-primary"/>                
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <img src="~/img/Tabla_Bimestres.png" alt="Alternate Text" class="imagen_guardar_alumno" />
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 