@model INSECAP.Models.Profesor

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar un Nuevo Profesor</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <script>
            // Función para mostrar una alerta de error
            @if (TempData.ContainsKey("MensajeError"))
            {
                var mensajeError = TempData["MensajeError"] as string;
                <text>
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '@mensajeError'
                    });
                </text>
            }

                // Función para mostrar una alerta de éxito
            @if (TempData.ContainsKey("MensajeExito"))
            {
                var mensajeExito = TempData["MensajeExito"] as string;
                <text>
                    Swal.fire({
                        icon: 'success',
                        title: 'Éxito!',
                        text: '@mensajeExito'
                    }).then(function () {
                        // Redirige al usuario a la página "index"
                        window.location.href = '@Url.Action("Index", "Profesors")';
                    });
                </text>
            }
        </script>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-top:6px;">
                <label asp-for="RunProfesor" class="control-label">RUT DEL PROFESOR</label>
                <input asp-for="RunProfesor" placeholder="Sin puntos ni digito verificador" class="form-control form_alumno" minlength="8" maxlength="8" />
                <span asp-validation-for="RunProfesor" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:6px;">
                <label asp-for="DvProfesor" class="control-label"> DIGITO VERIFICADOR</label>
                <input asp-for="DvProfesor" class="form-control form_alumno" minlength="1" maxlength="1" pattern="[Kk0-9]" />
                <span asp-validation-for="DvProfesor" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:6px;">
                <label asp-for="Nombre" class="control-label"> NOMBRE</label>
                <input asp-for="Nombre" class="form-control form_alumno" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:6px;">
                <label asp-for="Apellido" class="control-label"> APELLIDO</label>
                <input asp-for="Apellido" class="form-control form_alumno" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:10px;">
                <input type="submit" value="Guardar" class="btn btn-primary" /> | <a asp-action="Index" class="btn btn-dark">Volver al Listado</a>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <img src="~/img/informatico.jpg" alt="imagen" class="imagen_guardar_alumno"/>
    </div>
</div>


    


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
