@model INSECAP.Models.Alumno

@{
    ViewData["Title"] = "Create";
}


<h1>Guardar un Nuevo Alumno</h1>
<div style="margin-top: 5px ;">
    <a class="btn btn-dark" asp-action="Index">Volver a la Lista</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <script>
            // Función para mostrar una alerta de error
            @if (TempData.ContainsKey("MensajeError"))
            {
                var mensajeError = TempData["MensajeError"] as string;
                <text>
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: '@mensajeError'
                    });
                </text>
            }

                // Función para mostrar una alerta de éxito
            @if (TempData.ContainsKey("MensajeExito"))
            {
                var mensajeExito = TempData["MensajeExito"] as string;
                <text>
                    Swal.fire({
                        icon: 'success',
                        title: 'Éxito!',
                        text: '@mensajeExito'
                    }).then(function () {
                        // Redirige al usuario a la página "index"
                        window.location.href = '@Url.Action("Index", "Alumnoes")';
                    });
                </text>
            }
        </script>
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" >
                <label asp-for="RunAlumno" class="control-label">Rut del Alumno</label>
                <input asp-for="RunAlumno" class="form-control form_alumno" minlength="8" maxlength="8" placeholder="Sin puntos ni digito verificador" />
                <span asp-validation-for="RunAlumno" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <label asp-for="DvAlumno" class="control-label">Digito Verificador</label>
                <input asp-for="DvAlumno" class="form-control form_alumno" minlength="1" maxlength="1" pattern="[Kk0-9]" placeholder="K o Número" />
                <span asp-validation-for="DvAlumno" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <label asp-for="Nombre" class="control-label">Nombre del Alumno</label>
                <input asp-for="Nombre" class="form-control form_alumno" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <label asp-for="Apellido" class="control-label">Apellido del Alumno</label>
                <input asp-for="Apellido" class="form-control form_alumno" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <label asp-for="FechaNacimiento" class="control-label">Fecha de Nacimiento</label>
                <input type="date" asp-for="FechaNacimiento" class="form-control form_alumno" id="fechaNacimiento" placeholder="DD-MM-YYYY" />
                <span id="fechaNacimientoError" class="text-danger"></span>
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px ;">
                <label class="control-label">Género</label><br>
                <label class="radio-inline">
                    <input type="radio" asp-for="Genero" value="M" id="generoM" checked /> Masculino
                </label>
                <label class="radio-inline">
                    <input type="radio" asp-for="Genero" value="F" id="generoF" /> Femenino
                </label>
                <label class="radio-inline">
                    <input type="radio" asp-for="Genero" value="O" id="generoO" /> Otro
                </label>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>


            <div class="form-group" style="margin-top:3px;">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>

    </div>
    <div class="col-md-8">
        <img src="~/img/informatico.jpg" alt="Alternate Text" class="imagen_guardar_alumno"/>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<script>
    document.getElementById("fechaNacimiento").addEventListener("change", function () {
        var selectedDate = new Date(this.value);
        var currentDate = new Date();
        currentDate.setFullYear(currentDate.getFullYear() - 18);

        if (selectedDate > currentDate) {
            document.getElementById("fechaNacimientoError").textContent = "Debes ser mayor de 18 años";
            this.value = ""; // Limpiar el valor del campo
        } else {
            document.getElementById("fechaNacimientoError").textContent = "";
        }
    });
</script>